In [2]:
#importing dependencies
import pandas as pd 
from sqlalchemy import create_engine

In [8]:
#loading file
csv_file = "../Project-2/drink_water.csv"
unicef_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
unicef_df.head()

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water
0,AFG,Afghanistan,1990.0,-,1,-,-,-
1,AFG,Afghanistan,2015.0,55,12,43,39,6
2,ALB,Albania,1990.0,-,-,-,-,-
3,ALB,Albania,2015.0,95,82,13,5,0
4,DZA,Algeria,1990.0,91,67,24,8,1

In [11]:
#only pull 2015 years
unicef2015_df = unicef_df.loc[unicef_df["Years"] == 2015.0, :]

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water
1,AFG,Afghanistan,2015.0,55,12,43,39,6
3,ALB,Albania,2015.0,95,82,13,5,0
5,DZA,Algeria,2015.0,84,77,7,16,0
7,ASM,American Samoa,2015.0,100,92,8,0,0
9,AND,Andorra,2015.0,100,100,0,0,0

In [16]:
#change years from float to int 
pd.options.display.float_format = '{:.0f}'.format
unicef2015_df

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water
1,AFG,Afghanistan,2015,55,12,43,39,6
3,ALB,Albania,2015,95,82,13,5,0
5,DZA,Algeria,2015,84,77,7,16,0
7,ASM,American Samoa,2015,100,92,8,0,0
9,AND,Andorra,2015,100,100,0,0,0
11,AGO,Angola,2015,49,15,34,20,31
13,AIA,Anguilla,2015,95,-,-,5,-
15,ATG,Antigua and Barbuda,2015,98,-,-,2,-
17,ARG,Argentina,2015,99,98,1,1,0
19,ARM,Armenia,2015,100,99,1,0,0
21,ABW,Aruba,2015,98,94,5,2,0
23,AUS,Australia,2015,100,-,-,0,0
25,AUT,Austria,2015,100,100,0,0,0
27,AZE,Azerbaijan,2015,87,66,21,11,2
29,BHS,Bahamas,2015,98,95,3,2,-
31,BHR,Bahrain,2015,100,100,0,0,0
33,BGD,Bangladesh,2015,87,12,75,13,0
35,BRB,Barbados,2015,100,98,2,0,-
37,BLR,Belarus,2015,100,91,9,0,0
39,BEL,Belgium,2015,100,100,0,0,0
41,BLZ,Belize,2015,100,81,19,0,0
43,BEN,Benin,2015,78,18,60,20,2
45,BMU,Bermuda,2015,-,-,-,-,-
47,BTN,Bhutan,2015,100,58,42,0,0
49,BOL,Bolivia (Plurinational State of),2015,90,84,6,4,6
51,BIH,Bosnia and Herzegovina,2015,100,87,13,0,0
53,BWA,Botswana,2015,96,74,22,2,2
55,BRA,Brazil,2015,98,94,4,2,0
57,VGB,British Virgin Islands,2015,-,-,-,-,-
59,BRN,Brunei Darussalam,2015,-,-,-,-,-
...,...,...,...,...,...,...,...,...
371,SYR,Syrian Arab Republic,2015,90,87,3,10,0
373,TJK,Tajikistan,2015,74,45,29,5,21
375,THA,Thailand,2015,98,57,41,2,0
377,MKD,TFYR Macedonia,2015,99,92,7,1,0
379,TLS,Timor-Leste,2015,72,25,47,20,8
381,TGO,Togo,2015,63,5,58,20,17
383,TKL,Tokelau,2015,100,-,-,0,0
385,TON,Tonga,2015,100,78,22,0,0
387,TTO,Trinidad and Tobago,2015,95,84,12,5,0
389,TUN,Tunisia,2015,98,82,16,2,0
391,TUR,Turkey,2015,100,100,0,0,0
393,TKM,Turkmenistan,2015,-,-,-,-,-
395,TCA,Turks and Caicos Islands,2015,-,-,-,-,-
397,TUV,Tuvalu,2015,98,97,1,2,-
399,UGA,Uganda,2015,79,5,74,13,8
401,UKR,Ukraine,2015,96,69,27,4,0
403,ARE,United Arab Emirates,2015,100,-,-,0,0
405,GBR,United Kingdom,2015,100,100,0,0,0
407,TZA,United Republic of Tanzania,2015,56,13,43,30,14
409,USA,United States of America,2015,99,99,0,1,-
411,VIR,United States Virgin Islands,2015,100,49,51,0,0
413,URY,Uruguay,2015,100,99,1,0,0
415,UZB,Uzbekistan,2015,-,-,-,-,-
417,VUT,Vanuatu,2015,94,35,59,1,5
419,VEN,Venezuela (Bolivarian Republic of),2015,93,86,7,6,1
421,VNM,Viet Nam,2015,98,27,71,1,1
423,PSE,Occupied Palestinian Territory,2015,58,56,2,41,1
425,YEM,Yemen,2015,-,-,-,-,-
427,ZMB,Zambia,2015,65,16,49,23,12
429,ZWE,Zimbabwe,2015,77,28,49,17,6